/* Home.css */

.home_section_content {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 99px;
	margin-bottom: 195px;
}

.home_section_description .main_title {
	margin-bottom: 60px;
}

.btn_section {
	display: flex;
	gap: 48px;
}

.home_section_rates {
	display: flex;
	text-align: center;
	gap: 103px;
	margin-top: 80px;
}

.content_btn {
	padding: 24px 76px;
	color: white;
}

.content_btn:hover,
.content_btn:focus {
	color: black;
}

.rate_title {
	color: #f5fbf2;
	font-family: 'Oxanium';
	font-size: 62px;
	font-weight: 700;
}

.home_section_img {
	position: relative;
}

.bid_content {
	position: absolute;
	top: 24px;
	left: 21px;
	right: 0;
	opacity: 0.95;
	background: linear-gradient(
		145deg,
		rgba(121, 79, 0, 0.87) 0%,
		rgba(250, 250, 250, 0.836) 100%
	);
	box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.12);
	backdrop-filter: blur(22.5px);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 18px 54px 16px 39px;
	width: 512px;
}

.rate_paragraph {
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 1.44px;
}

.rate_title_2 {
	font-size: 32px;
	font-weight: 700;
}

.artist_content {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: #dce1e7;
	backdrop-filter: blur(13.5px);
	padding: 35px 39px 35px 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 558px;
	z-index: 1;
}

.artist_content .rate_paragraph {
	color: #594d5e;
	font-family: 'Work Sans';
	font-size: 24px;
	font-weight: 400;
	line-height: 35.452px;
}

.artist_content .rate_title_2 {
	color: #16091b;
	font-size: 28px;
	font-weight: 600;
	letter-spacing: 1.96px;
}

.artist_content .content_btn {
	background: #ffcd4e99;
	color: #1c121fb3;
}

.artist_content .content_btn:hover {
	background: #ffce4e;
	color: black;
}

.img_content {
	position: relative;
}

.blur_img {
	position: absolute;
	width: 630px;
	height: 1063px;
	top: -285px;
	right: -40px;
	z-index: -1;
}

.link_imgs {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 132px;
	margin-top: 300px;
	margin-bottom: 170px;
}

.scrolldown_button {
	position: absolute;
	bottom: -340px;
	right: 520px;
	z-index: -2;
}
