@media screen and (max-width: 1300px) {
	.header {
		margin-bottom: 50px;
	}
	.btn_section {
		justify-content: center;
		margin-bottom: 120px;
	}
	.home_section_rates {
		justify-content: center;
	}
	.home_section_content {
		flex-wrap: wrap;
		text-align: center;
	}
	.title_img,
	.blur_image3,
	.timer_content,
	.scrolldown_button,
	.card_description_inner .paragraph {
		display: none;
	}
	.virtual_img {
		width: 284px;
		height: 284px;
	}
	.carousel_card,
	.carousel_card2 {
		width: 340px;
	}
	.title_content {
		margin: 0;
	}
	.work_list_content {
		justify-content: center;
		gap: 30px;
	}
	.carousel_card3 .virtual_img {
		width: 270px;
		height: 269px;
	}
	.carousel_card3 {
		height: 500px;
	}
	.grid_descriptions {
		grid-template-columns: 1fr;
		justify-content: center;
	}
	.footer_section {
		gap: 80px;
		justify-content: center;
	}
	.hamburger_menu {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.menu_section {
		display: none;
	}
	.title_section {
		width: 100%;
		overflow: hidden;
	}
}
